#img_wrap {
    float: left;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#arrow {
    float: left;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#img_wrap #img_slide{
    max-width: 100%;
    max-height: 100%;
    float: left ;
}